
{% with fname='Gabbar Singh' %} 

<h1>Hello {{ fname }}, How are you ? </h1>
<h1>{{ fname }} is a pirate</h1>
<h1>{{ fname }} lives in carrabien </h1>

{% endwith %} 

<!-- <table>
    <tr>
        <th>firstname</th>
        <th>lastname</th>
        <th>mobile</th>
        <th>birth date</th>
    </tr>
    {% for x in data %}
    <tr>
        <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
        <td>{{ x.mobile }}</td>
        <td>{{ x.birth_date }}</td>
        {% endfor %}
    </tr>
</table> -->


<!-- we will execute django dynamic values here -->